<header class="row">
  <h2>{{app.data.name}}</h2>
  ← <a href="#/{{app.data.token}}" class="back-link">Back to all emails</a>
</header>

<div ng-show="app.email.id" class="container-fluid">
  <ng-include src="'/views/email/headers.html'"></ng-include>

  <div class="row">
    <div class="col-md-12">
      <span class="email-subject">{{app.email.subject || 'No Subject'}}</span>
      <a href="#/{{app.data.token}}/{{app.email.id}}/html" class="btn btn-blue" ng-show="app.email.html_part">Show HTML version</a>
      <a href="" class="btn btn-red" ng-click="deleteEmail()">Delete email</a>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="email-text-part col-md-12">{{app.email.text_part}}</div>
  </div>
</div>
<div class="col-md-12" ng-show="!app.email.id">Email not found</div>
