<div ng-show="app.email.id">
  <ul class="email-list">
    <li>{{app.email.from}}</li>
    <li>{{app.email.to}}</li>
    <li>{{app.email.created_at | date:'MMMM dd, yyyy hh:mm'}}</li>
  </ul>
  <span class="email-subject">{{app.email.subject || 'No Subject'}}</span>
  <a href="" class="btn btn-blue" ng-show="app.email.html_part">Show HTML version</a>
  <a href="" class="btn btn-red float-right">Delete email</a>
  <hr/>
  <div class="email text_part">{{app.email.text_part}}</div>
</div>
<div ng-show="!app.email.id">Email not found</div>
