* {
  box-sizing: border-box;
}

body, ul, h4 {
  margin: 0;
  padding: 0;
}

hr {
  margin: 15px 0;
}

body {
  padding-top: 40px;
  font-family: 'Nunito', sans-serif;
}

header {
  margin-bottom: 40px;
}

.back-link {
  padding-top: -20px;
}

.btn {
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 12px;
}

a.btn  {
  text-decoration: none;
}

.btn-blue {
  border: 1px solid #4A90E2;
  color: #4A90E2;
}

.btn-blue:hover {
  background-color: #4A90E2;
  color: white;
}

.btn-red {
  border: 1px solid #D0021B;
  color: #D0021B;
}

.btn-red:hover {
  background-color: #D0021B;
  color: white;
}

.email-headers li {
  list-style-type: none;
  margin-bottom: 10px;
}

.email-list li {
  list-style-type: none;
  margin-bottom: 10px;
}

.unread {
  font-weight: bold;
}

.footer-nav li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav .copyright {
  float: right;
  margin-right: 0;
}

code {
  background-color: #4A90E2;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
}

a {
  color: black;
}

a:hover {
  color: #4A90E2;
}

.float-right {
  float: right;
}

.email-text-part, .email-html-part {
  padding: 10px;
}

.email-html-part {
  font-family: Arial, sans-serif;
}

.email-subject {
  display: inline-block;
  font-weight: bold;
  margin-top: 30px;
  margin-right: 10px;
}

.page-footer {
  margin-top: 50px;
}

.blue-500 {
  color: #40a9f3;
}
