<div ng-show="app.data">
  <div class="row" ng-show="!app.data.name">
    <h1>There is no such app</h1>
  </div>
  
  <div class="row" ng-show="app.data.name">
    <h2>All emails for {{app.data.name}}</h2>
    <ul class="email-list">
      <li ng-repeat="email in app.emails" class="row">
        <span class="col-md-2">{{email.created_at | date:'MMMM dd, yyyy hh:mm'}}</span>
        <a class="col-md-5" ng-show="!email.html_part" href="#/{{app.data.token}}/{{email.id}}">{{email.subject || 'No Subject'}}</a>
        <a class="col-md-5" ng-show="email.html_part" href="#/{{app.data.token}}/{{email.id}}/html">{{email.subject || 'No Subject'}}</a>
        <span class="col-md-2">{{email.from}}</span>
        <span class="col-md-1">→</span>
        <span class="col-md-2">{{email.to}}</span>
      </li>
    </ul>
    <div ng-show="!app.emails.length">We didn’t receive any emails from this app yet.</div>
  </div>
</div>
