<h1>Mail Robber</h1>
<h2>Simple email testing for Rails</h2>

<p>Include <code>gem ‘mail_robber’</code> in your Gemfile.</p>

<p>
  Register an app on mailrobber.com:
  <code>rails g mail_robber:install</code>
</p>

<p>
  View emails sent from your app:
  <code>rake mail_robber:open</code>
</p>

<p>
  You can customize settings in config/initializers/mail_robber.rb:
  <pre>
    MailRobber.configure do |config|
      config.enabled = true
      config.block_delivery = false
      config.api_key = 'w29m391z295700382fhsi'
    end
  </pre>
</p>

<footer>
  <nav>
    <ul class="footer-nav">
      <li><a href="#/about">Who is behind this?</a></li>
      <li><a href="#/terms">Terms and Privacy</a></li>
      <li><a href="#/feedback">Feedback</a></li>
      <li class="copyright">by <a href="http://500tech.com">500Tech</a></li>
    </ul>
  </nav>
</footer>
